.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* ממרכז את הטקסט */
}

h1 {
    color: #fff; /* צבע הטקסט לבן */
    background-color: #333; /* רקע כהה */
    font-size: 40px; /* מגדיל את גודל הטקסט */
    font-family: 'Lucida Sans Unicode';
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* מוסיף צללית לטקסט */
}